body {
	color: #333;
	font: 400 12px/1.6 arial,sans-serif;
}
div {
	margin: 0;
	padding: 0;
	display: block;
}
.form-box .item-label {
	display: inline;
	float: left;
	width: 100px;
	margin-left: 0px;
	text-align: right;
	height: 26px;
	line-height: 26px;
}
.form-box .item-label i {
	color: red;
	font-style: normal;
}
.form-box .item {
	position: relative;
	padding-left: 105px;
	padding-bottom: 10px;
	zoom: 1;
	text-align: left;
}
.bf-select {
	border: 1px solid #ccc;
	font-size: 12px;
	padding: 4px 8px;
	outline: 0;                         
	position: relative;
	cursor: pointer;
	float: left;
	margin-right: 10px;
}
.bf-select .bf-menu-button-dropdown{
	position:absolute;
	top:10px;
	right:8px;
	width:10px;
	height:5px;
	background:url(http://img04.taobaocdn.com/tps/i4/T1J6x.FkFeXXX_ownc-30-40.png) -10px -25px no-repeat
}
.bf-menu-button-open .bf-menu-button-dropdown{
	background-position:-10px -10px;
}
.bf-menu .bf-menuitem-hover{
	color:#f60;
	background-color:#fff8f3;
}
.bf-menu .bf-menuitem-selected{
	background:url("http://gtms03.alicdn.com/tps/i3/T1J8TvFlVbXXXugmZ.-11-8.png") no-repeat 10px 10px;
	color:#f60;
	font-weight:700;
}
.bf-menu {
	border: 1px solid #ccc;
	background-color: #fff;
}
body .bf-menu .bf-menuitem {
	padding-left: 20px;
}
.bf-menu .bf-menuitem {
	height: 26px;
	line-height: 26px;
	color: #333;
	font-size: 12px;
	padding-left: 30px;
	cursor: pointer;
	overflow: hidden;
}
body .bf-menu .bf-menuitem-selected {
	background-position: 5px 10px;
}
.bf-popupmenu-content{
	max-height:300px;
	_height:expression(thisscrollHeight > 300 ? "300px" :"auto");
}

.bf-popupmenu-hidden {        
	visibility: hidden;
}
.J_CnCity-hidden {
	visibility: hidden;
}

.jq-popupmenu-shown{
	visibility:visible;
}

.clearfix {
	zoom: 1;
}

.sSelect {
	width: 72px;
}
.lSelect {
	width: 282px;
}




.city-select-tab {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	width: 299px;
	height: 35px;
	background: #f0f0f0;
}
.current {
	background: #fff;
	border-bottom: 1px solid #fff;
	color: #f60;
}
.city-select-tab a {
	float: left;
	display: inline;
	margin-bottom: -1px;
	padding: 8px 20px;
	width: 33px;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid transparent;
	color: #4D4D4D;
	text-align: center;
}
a {
	color: #08c;
	text-decoration: none;
}


a:hover{color:#f60}

.city-select-tab .last {
	width: 36px;
}
.city-select {
	border: 1px #ccc solid;
	border-top: 0;
	padding: 10px 15px;
	width: 268px;
	background: #fff;
	overflow: hidden;
	font-size: 12px;
}
.city-select dl {
	line-height: 2;
	clear: both;
	padding: 3px 0;
	margin: 0;
}
.city-select dt {
	display: inline-block;
	width: 25px;
	float: left;
	padding-right: 10px;
	font-weight: 700;
	text-align: right;
}
dt {
	display: block;
}
dd {
	display: block;
	-webkit-margin-start: 40px;
}

.city-select dl:after{clear:both;content:" ";display:block;font-size:0;height:0;visibility:hidden}

.city-select dd{width:233px;display:inline;float:left;margin-left:0}

.city-select-province dd,.city-select-city dd,.city-select-street dd,.city-select-district dd{width:270px}

.city-select a{
	display:inline-block;
	color:#4D4D4D;
	padding:0 10px;
	outline:0;
	text-decoration:none;
	white-space:nowrap;
	margin-right:2px
}
.city-select a:hover{
	background-color:#fff8f3;
	border-radius:2px;
	color:#f60;
}
.city-select a .current{
	background-color:#f60;
	color:#fff;
	border-radius:2px
}
.city-select .border-top{
	border-top:1px solid #ccc;
}

.jq-overlay-hidden {
	visibility: hidden;
}
.jq-overlay {
	position: absolute;
	z-index: 20002;
}
.jq-dialog, .jq-overlay {
	position: absolute;
	outline: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}





